<!DOCTYPE html5>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Last session | Maxmellon</title>
  <link rel="stylesheet" href="./dist/reset.css">
  <link rel="stylesheet" href="./dist/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Bungee+Outline" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bungee+Hairline" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <style>
    .routing-leave { opacity: 0; }
    .routing-leave.routing-leave-active { opacity: 0; transition: opacity .4s ease-out; }
    .routing-enter { opacity: 0; }
    .routing-enter.routing-enter-active { opacity: 1; transition: opacity .4s ease-in .6s; }
    .routing-height { transition: height .6s ease-in-out; }
    body {
      font-size: 4vw;
    }
  </style>
</head>

<body>
  <div id="root"></div>
  <script src="./dist/bluebird.js"></script>
  <script src="./dist/react.development.js"></script>
  <script src="./dist/react-dom.development.js"></script>
  <script src="./dist/lodash.min.js"></script>
</body>
</html>

